<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadStore</title>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://unpkg.com/scrollreveal"></script>

    <link rel="icon" type="image/png" th:href="@{/favicon-96x96.png}" sizes="96x96">
    <link rel="icon" type="image/svg+xml"  th:href="@{/favicon.svg}">
    <link rel="shortcut icon"  th:href="@{/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/web-app-manifest-192x192.png}">
    <link rel="manifest" th:href="@{/site.webmanifest.png}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <meta name="description" content="Madstore - loja de roupas femininas com uma seleção exclusiva de peças modernas. Aproveite promoções e renove seu guarda-roupa hoje!">
    <meta name="keywords" content="loja de roupas femininas, moda feminina, roupas femininas online, vestidos, blusas, saias, moda, tendências de moda">
</head>
<body>
    <header>
        <nav id="navbar">
            <i id="logo" class="fa-solid fa-crown"> MADSTORE</i>

            <ul id="nav_list">

                <li class="nav-item active">
                    <a href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#catalago">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="#sobre_nos">Sobre Nós</a>
                </li>

            </ul>

            <button class="btn-default">
                Peça aqui
            </button>

            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
                
            
            </button>

        </nav>

        <div id="mobile_menu">

            <ul id="mobile_nav_list">

                <li class="nav-item">
                    <a href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#catalago">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="#sobre">Sobre Nós</a>
                </li>

            </ul>

           </div>
    </header>
    <main id="content">
        <section id="home">

            <div id="cta">
                <h1 class="title">Renove seu estilo <span>Hoje!</span></h1>

                <p class="description">
                    Looks modernos, elegantes e confortáveis para todas as ocasiões. Descubra nossa seleção especial e sinta-se incrível todos os dias!
                </p>

                
            <div id="cta_buttons">
                <a href="#" class="btn-default">
                    Ver Produtos</a>
                <a href="tel:+555555555" id="phone_button">
                    <button class="btn-default">
                        <i class="fa-solid fa-phone"></i>
                        (31) 91234-1234                  
                    </button>
                </a>
                <a href=""></a>
            </div>

            <div class="social-media-buttons">
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            
            </div>


            <div id="img_container">
             <figure><img th:src="@{/assets/img1.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img2.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img3.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img4.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img5.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img6.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img7.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img8.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img9.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img10.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img11.jpg}" alt=""></figure>
             <figure><img th:src="@{/assets/img12.jpg}" alt=""></figure>
            </div>

        </section>
        <section id="products">
            <h2 class="section-title">Vitrine</h2>
            <h3 class="section-subtitle">Destaques da Nossa Coleção para Você Brilhar</h3>
            <i class="btn-create fas fa-plus-circle fa-lg"></i>
            <div id="catalago">
            </div>
        </section>
        <section id="sobre_nos">
           
            <img id="img_loja" th:src="@{/assets/loja.jpg}" alt="">
        
            <div id="desc">
                <h2 class="section-title">Sobre a MadStore</h2>
                <h3 class="section-subtitle">Transformando Moda em Estilo Pessoal Desde 2018"</h3>
                <p class="desc-txt">
                    MadStore é uma loja de moda feminina localizada no bairro Santa Terezinha,
                     na Rua [Nome da Rua], Nº [Número], em Belo Horizonte.
                      Inspirada no estilo e na elegância da mulher contemporânea,
                       oferecemos uma seleção especial de peças que unem qualidade,
                        conforto e as últimas tendências. Com um atendimento exclusivo,
                         estamos prontos para ajudar você a encontrar o look perfeito para qualquer ocasião.
                        Venha nos visitar e descubra a moda feita para valorizar o seu estilo!
                </p>
            </div>
        </section>
        <section id="login">
            <div class="d-container d-flex justify-content-center align-items-center" >
                <div class="row">
                    <form id="login_form" class="col-sm-10 col-md-8 col-lg-12">
                        <h1 class="mb-3">Por favor, faça login</h1>
                        <div class="form-floating mb-3">
                            <input type="text" id="txt_email" class="form-control" name="email" autofocus placeholder=" ">
                            <label for="txt_email" class="form-label">Email</label>
                            <span class="error"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="txt_password" class="form-control" name="senha" placeholder=" ">
                            <label for="txt_password" class="form-label">Senha</label>
                            <span class="error"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="chk_lembrar">
                            <label class="form-check-label">Lembrar de mim</label>
                        </div>
                        <button id="btn_login" class="btn btn-lg btn-danger mb-3" type="button">Entrar</button>
                    </form>
                </div>
            </div>
        </section>
        <div class="modal fade modal-dialog-centered" id="produto_modal" tabindex="-1" aria-labelledby="produtoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="produtoModalLabel">Atualizar Produto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form_produto">
                            <div class="mb-3">
                                <label for="nome_produto" class="form-label">Nome do Produto</label>
                                <input type="text" class="form-control" id="nome_produto" name="nome">
                                <span class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="desc_produto" class="form-label">Descrição</label>
                                <input type="text" class="form-control" id="desc_produto" name="desc">
                                <span class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="valor_produto" class="form-label">Preço</label>
                                <input type="text" class="form-control" id="valor_produto" name="valor">
                                <span class="error"></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btn_update">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer>

       <img id="wave" th:src="@{/assets/wave.svg}" alt="">

       <div id="footer_items">

            <span id="copyright">
                &copy; 2024 Andre Mendes
            </span>

            <div class="social-media-buttons">
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>

       </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script th:src="@{/script/script.js}"></script>
</body>
</html>