#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#catalago {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

}

.item{
    display: flex;
    flex-direction:column;
    border-radius: 20px;
    position: relative;
    gap: 18px;
    width: 25%;
    padding: 1.5rem;
    background-color: transparent;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}

.item-title{
    text-align: center;
}

.item-heart{
    position: absolute;
    background-color: #A67A44;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    width: 50px;
    height: 50px;
    right: -10px;
    top:-10px;
    border-radius: 0px 37px 0px 42.5px;
}

.item-description{
    color:#401E01;
    text-align: center;
}

.item-price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-edit , .btn-create, .btn-delete{
    display: none;
    cursor:pointer;
    border: "1px solid #ccc";
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}


.modal h3 {
  color: white;
}

.modal .form-label {
  color: #A67A44;
}

.modal-content {
  background-color: #FFF9EA;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  position: relative;
  margin: 10% auto;

}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#produto_modal .modal-content .modal-body {
   background-color: #FFF9EA;

}

#produtoModalLabel{
  color: #401E01;
}

@media screen and (max-width: 1170px){
    #catalago{
        flex-wrap: wrap;
        justify-content: center;
    }

    .item{
        width: calc(50% - 18px);
    }

    .section-subtitle{
        text-align: center;
    }
}

.btn-container{
    display: flex;
    gap: 10px;
}

